/* Styles for the entire page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

/* Main container for the application */
.container {
  background-color: #959292;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Styling for the tab buttons */
.tabs {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
  
}

.tabs button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.tabs button.active {
  background-color: #555;
}

/* Styling for the content area */
.content {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the list items */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Styling for buttons */
button {
  background-color: #460305;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Form elements */
select, button {
  margin-top: 10px;
}

/* Header styling */
h2, h3 {
  margin-top: 20px;
}

/* Styling for error messages */
.enrollment-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
